/* Home.css */

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    max-width: 100px;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
  }
  
  .signup-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .signin-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  