/* Styling for the login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Styling for the login form */
  .login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #afa8a8;
    border-radius: 5px;
  }
  
  /* Styling for the input fields in login form */
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d60c0c;
    border-radius: 5px;
  }
  
  /* Styling for the login button */
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  